// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-container{
    padding: 40px;
}

.details-container{
    display: block; 
    height: 200px;
    overflow-y: auto;
}


::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #CECEFE;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb{
    background: #33A1F1;
    border-radius: 40px;
}

#middle{
    position: relative;
}

.b-containter{
    width: 100vw;
}