// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
    margin: 0;
    padding: 0;
}

.fill{
    height: 80vh;
    width: 100vw;
}

table, td, th {
    border: 1px solid #DDD;
    text-align:center;
    padding:5px;
}

.test{
    background:#EBFFFC;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

.table-container{
    padding: 40px;
    width: 25%;
    display: inline-flex;
}
