 

<% @categories.each do |c| %>
    <div class="table-container">
        <table class="table is-bordered is-fullwidth">
            <tbody>
                <tr class ="test">
                    <td class=" has-background-primary-dark"><%=c.title%></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td  class = "details-container"><%=c.details%></td>
                </tr>
            </tbody>
            <tbody>
                <tr class ="test">
                    <td><%= link_to "Edit Category/Show Tasks", c %> </td>
                </tr>
            </tbody>
        </table>
    </div>
<% end %>